@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&family=Ubuntu:wght@400;500;700&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

/* Home style */
.home{
    display: flex;
    background: url(image/Kelompok-A301.png) no-repeat center;
    /* margin-top: 25px; */
    height: 80vh;
    background-size: cover;
    width: 100%
}
.home .home-content{
    margin-top: 35vh;
    color: aliceblue;
    margin-left: 34vh;
    opacity: 0.5;
}
.home .home-content .text-1{
    font-family: Ubuntu, sans-serif;
    font-size: 30px;
    padding-bottom: 3px;
    color: lightseagreen;
    
    
}
.home .home-content .text-2{
    font-family: Ubuntu;
    font-size: 55px;
    letter-spacing: 0.5pc;
    word-spacing: 0.5pc;
    padding-top: 3px;
    color: snow;

}
.home .home-content .text-2 span{
    color: lightskyblue;
    letter-spacing: 5px;
    word-spacing: 10px;
}

/* main style */
.container-profile{
    position: absolute;
    top: 105%;
    left: 20%;
    width: 280px;
    height: 400px;
    transform: translate(-50%, -50%);
    background: #fff;
    border-radius: 10px;
    box-shadow: 0 0 25px rgba(0, 0, 0, .3);
    opacity: 0.978;
    overflow: hidden;
}
.profile{
    position: absolute;
    width: 100%;
    height: 50%;
    background: url(image/key1.jpg) center/cover;
    transition: .5s;
}
.profile-text{
    /* position: unset; */
    bottom: 0;
    width: 100%;
    height: 200%;
    background: #fff;
    transform: translateY(230px);
    transition: .5s;
    display: flex;
    align-items: center;
    flex-direction: column;
}
.profile-text #name {
    margin-top: 10px;
    display: flex;
}
.profile-content .profile-key{
    margin-top: auto;
    text-align: justify;
    font-size: .8rem;
    padding: 5px;
    color: #bfbfbf;
    /* opacity: 0; */
    transition: .5s;
}
.profile-text span{
    display: block;
    transition: .7 cubic-bezier(.75, -1, 0, 1.15);
    margin: 2px;
}

.profile-text span:nth-child(1){
    transform: translateX(-240px);
}
.profile-text span:nth-child(2){
    transform: translateX(240px);
}
.profile-content .profile-links{
    display: flex;
    align-items: center;
    margin-top: 10px;
    margin-left: 2px;
    letter-spacing: .5pc;
}
.profile-content .profile-links a{
    display: inline-block;
    margin: 5px;
    width: 40px;
    height: 40px;
    text-align: center;
    line-height: 40px;
    border-radius: 50%;
    font-size: 1.2rem;
    color: #0077b5;
    transition: .7s cubic-bezier(.75s, -1, 0, 1.15);
}

.profile-content .profile-links a :nth-child(1){
    background-color: #dd2a7b;
    transform: translateX(-200px)
}
.profile-content .profile-links a :nth-child(2){
    background: #26242e;
    transform: translateY(200px);
}
.profile-content .profile-links a :nth-child(3){
    background: #0077b5;
    transform: translateX(200px);
}

.container-profile:hover .profile-text{
    transform: translateY(0)
}
.container-profile:hover .profile{
    transform: translateY(-70), scale(1.1);
}
.container-profile:hover .profile-text #name span{
    transform: translateX(0);
    transition-delay: .5s;
}
.container-profile:hover .profile-content{
    opacity: 1;
    transition-delay: 1.5s;
}
.container-profile:hover .profile-links a{
    transform: translate(0,0);
    transition-delay: .5s;
}

@media only screen and (max-width: 600px) {
    .home {
      height: 50vh;
    }
}